<style>
  @font-face {
    font-family: Souliyo-Unicode;
    src: url(../www/assets/fonts/Souliyo-Unicode.ttf)
  }
  ion-header{
    background: url("assets/imgs/Header.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
  }
  .menu{
    margin-left: 25%;
    margin-top: -1px;
    margin-right: -2px;
    background: transparent;
    height: 51px;
    width: 141px;
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
    box-shadow:none;
  }
  .p-menu{
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 7px;
    margin-top: 15px;
  }
  #label-menu{
    font-size: 13px;
    text-transform: capitalize;
    margin-left: -16px;
    color: #FFFFFF;
  }
  ion-label{
    margin-left: 5px;
    color: #808080;
  }
  .p-header{
    color: white;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 15px;
    letter-spacing: 0.5px;
    font-family: 'Souliyo-Unicode', sans-serif;
  }
  ion-content{
    font-family: 'Souliyo-Unicode', sans-serif;
    background-color: #F1EEEE;
  }
  h1{
    color: #FFFFFF; font-size: 12px; font-weight: 100; font-style: normal; line-height: normal;
  }
  ion-card{
    background: rgba(18, 97, 76, 0.23);
    width: 330px;
    height: 170px;
    border-radius: 3px;
  }
  .minhavacina{
    background: rgba(18, 97, 76, 0.23);
    width: 330px;
    height: 90px;
    border-radius: 3px;
    margin-top: -2px;
  }
  .card-nv-vacina{
    background: rgba(18, 97, 76, 0.23);
    width: 270px;
    height: 140px;
  }
  .btn{
    position: absolute;
    bottom: 85px;
    right: 10px;
    padding-right:25px;
    padding-left: 3px;
    border-radius: 7px;
  }
  .btn-2{
    position: absolute;
    bottom: 85px;
    right: 3px;
    padding: 2px;
    padding-left: 3px;
    border-radius: 7px;
  }
  .icon-btn{
    background-color: #EEE9E9;
    padding: 5px;
    border-radius: 3px;
    font-size: 20px;
    color: black;
  }
  .p-card{
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  ion-searchbar{
    margin-left: 6px;
    margin-top: 25%;
    margin-bottom: 10px;
    width: 310px;
    color:#C4C4C4;
  }
  .btn-vacinas{
    height: 30px;
    width: 110px;
    font-size: 13px;
    padding: 10px;
    margin: 10px;
    margin-right: 5px;
    margin-bottom: 25px;
    background-color: white;
    font-family: Roboto;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    float: right;
    border-radius: 5px;
    text-transform: inherit;
  }
  .btn-nv-vacinas{
    margin-top: 10px;
    height: 30px;
    width: 110px;
    font-size: 13px;
    margin-left: 25px;
    background-color: white;
    font-family: Roboto;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-transform: inherit;
  }
  .addvacina{
    color: #32BEA6;
    padding-right: 5px;
    font-size: 20px;
  }
  .input-margin{
    margin-left: -55px;
    margin-right: 8px;
    border-radius: 4px;
  }
  ion-card-content {
    margin-top: -23px;
    margin-left: -15px;
  }
  ion-card-header {
    margin-top: -12px;
    margin-left: -10px;
  }
  .vac{
    width: 320px;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 15px;
  }
  ion-select{
    margin-left: 10px;
  }
  ion-datetime{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    margin-left: -65px;
    width: 110px;
    margin-right: 10px;
    height: 30px;
    padding: -10px;
  }
  ion-input{
    margin-top: 3px;
    background-color: white;
    border-radius: 3px;
    width: 110px;
    height: 30px;

  }
  /* css que nao vou usar mais mas que eh bom manter pq vai que 
  .nv-vacina{
    display: flex;
    flex-direction: row;
  }
  ion-searchbar--placeholder-color{
    color: #C4C4C4; 
  }
  ion-searchbar--background{
    color: white;
  }
  ion-list{
    left: -60px;
  }
  ion-datetime--placeholder-color{
    color: #FFFFFF;
  }
   ion-datetime--placeholder{
    font-size: 10px;
  }
  ion-grid{
    background: rgba(18, 97, 76, 0.23);
    width: 265px;
    height: 170px;
  }
  .btn-nv-vacina{
    left: -26px;
    top: -12px;
  } 
  */

</style>

    <ion-content>
      <ion-header>
        <p class="p-header">VACIMAPS</p>
        <button class="menu" ion-button menuToggle>
          <ion-label id="label-menu">Olá, {{nome}}</ion-label>
          <ion-avatar style="font-size: 32px;">
            <ion-icon name="ios-contact"></ion-icon>
          </ion-avatar>
          <p class="p-menu">v</p>
        </button>
      </ion-header>

      <ion-grid>
        <ion-col>
          <ion-row justify-content-center>
            <ion-searchbar class="search-vacina" placeholder="Digite o nome da vacina" (ionInput)="getVacina($event)"></ion-searchbar>
            <ion-list [hidden]= hiddenVacinas>
              <button (click)="editContact(vacina);" ion-item *ngFor="let vacina of vacinas">
                <ion-option  [value] = "vacina.vacina">{{ vacina.vacina }}</ion-option>
              </button>
            </ion-list>           
          </ion-row>

          <ion-row justify-content-end>
            <button class="btn-vacinas" (click)="ModalVacina()" ion-button>
              <ion-icon class="addvacina" name="add-circle"></ion-icon>
              Nova vacina
            </button>
          </ion-row>
<!-- Card para cadastrar vacina-->
            <ion-row justify-content-center [hidden]= hiddenFormVacinas>
                <ion-list>
                  <ion-card>
                    <ion-col>
                      <ion-row>
                        <ion-item class="vac">
                            <ion-label>Vacinas</ion-label>
                            <ion-select  [formControl]="formulario.controls['validarVacina']" [(ngModel)]="vacina" disabled="disabled">
                                <ion-option *ngFor="let c of vacinaSelect" [value] = "c.id_vacina" >{{ c.nome_vacina }}</ion-option>
                            </ion-select>
                          </ion-item>
                    </ion-row>
                      <ion-row>

                            <ion-label>Data: </ion-label>
                            <!--<ion-datetime display-format="MM/DD/YYYY" placeholder="dd/mm/aaaa"></ion-datetime>-->
                            <ion-datetime placeholder="dia/mês/ano" [formControl]="formulario.controls['validarData']" display-format="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
                      
                            <ion-label>Lote: </ion-label>
                            <ion-input type="text" class="placeholder-input input-margin" [formControl]="formulario.controls['vaidarLote']" [(ngModel)]="lote"></ion-input>
                    
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <button class="btn-nv-vacinas" (click)="closeModal()" ion-button>
        
                            <ion-icon style="color: red; font-size: 27px; padding-right: 10px;" name="close-circle"></ion-icon>
                            Cancelar
                          </button>
                        </ion-col>
                        <ion-col>
                          <button class="btn-nv-vacinas" (click)="doPOST()" [disabled]="!formulario.valid" ion-button>
                            <ion-icon style="color: green; font-size: 27px; padding-right: 10px;" name="checkmark-circle"></ion-icon>
                            Salvar 
                          </button>
                        </ion-col>
                      </ion-row>
                      <br><br>
                    </ion-col>
                  </ion-card>
                </ion-list>
              </ion-row>

          <ion-row justify-content-center>
            <ion-list *ngFor="let vacina of vacinas" >

                <ion-card class="minhavacina">
                  <ion-card-header>
                    <p class="p-card">{{ vacina.vacina }}</p>
                  </ion-card-header>
                    
                  <ion-card-content>
                    <ion-label> Data: {{ vacina.data_vacina }} </ion-label>
                    <ion-label style="margin-top: -5px;"> Lote: {{ vacina.local }} </ion-label>
                  </ion-card-content>

                  <ion-row text-right [hidden]= hiddenCardVacinas>
                    <ion-col>
                      <button class="btn" ion-button icon-left clear small (click)="editContact(vacina);">
                        <ion-icon class="icon-btn" name="md-create"></ion-icon>
                      </button>
                      <button class="btn-2" ion-button icon-left clear small (click)="doDELETE(vacina);">
                        <ion-icon class="icon-btn" name="ios-trash"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-card>

            </ion-list>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-content>